aside{
	width: 188px;
	height: 1000px;
	float: left;
}
.articleComment{
	float: left;
}
/*header*/
.articleComment header{
	width: 100%;
	height: 39px;
	background: #f5f5f5;
	line-height: 39px;
	border-bottom: 1px solid #e5e5e5;
}
.articleComment header h4{
	margin-left: 10px;
	font-size: 10px;
	color: #bfb9ae;
	font-weight: 500;
	
}
.articleComment header h4 img{
	width: 20px;
	height:20px ;
	display: inline-block;
	margin-left: 4px;
	margin-right: 11px;
	vertical-align: middle;
}
.articleComment header h4 span{
	font-size: 14px;
	color: #646464;
}
/*top*/
.articleComment .top{
	width: 100%;
	height: 92px;
	line-height: 46px;
	background: white;
}
.articleComment .top p{
	float: left;
	font-size:14px ;
	color:#333333 ;
	margin-left: 9px;
}
.articleComment .top p input{
	text-indent: 6px;
	height: 24px;
	border-radius: 2px;
	border: 1px solid #aaaaaa;
}
.articleComment .top p select{
	height: 21px;
	border: 1px solid #7a7a7a;
}
.articleComment .top p button{
	background: #337ab7;
	font-size: 12px;
	color: white;
	border: 1px solid #2e6da4;
	border-radius: 2px;
}
/*table*/
.articleComment .table{
	width: 100%;
	clear: both;
	border-top: 1px dotted #e2e2e2;
}
.articleComment .table table{
	width: 1137px;
	margin: 8px 12px;
	border: 1px solid #dddddd;
}
.articleComment .table table tr{
	height: 38px;
}
.articleComment .table table tr:hover{
  background: #f5f9fa;
}
.articleComment .table table tr:first-child{
  background: #f2f2f2;
}
.articleComment .table table th{
	text-align: left;
	text-indent: 4px;
	font-size: 14px;
	color: #707070;
	font-weight: 900;
}
.articleComment .table table td{
	padding-left: 5px;
	font-size: 14px;
}
.articleComment .table table td mark{
	background: white;
    color: #4cb549;
}
.articleComment .table table tr:hover td mark{
  background: #f5f9fa;
}
/*footer*/
.articleComment footer{
	
}
.articleComment footer .h4{
	height: 50px;
	background: #eff3f8;
	line-height: 50px;
}
.articleComment footer .h4 h4{
	margin-right: 10px;
	float: right;
	color:#333333;
	font-size: 14px;
	font-weight: normal;
}
.articleComment footer .h4 h4 button{
	background: #337ab7;
	font-size: 12px;
	color: white;
	border: 1px solid #2e6da4;
	border-radius: 2px;
}
.articleComment footer h4 input{
	width: 24px;
	height: 24px;
}
.articleComment footer p{
	margin-left: 10px;
	font-size: 14px;
	color: #333333;
}
.articleComment footer p select{
	width: 81px;
	height: 21px;
	border: 1px solid #7a7a7a;
}
.articleComment footer p button{
	background: #337ab7;
	font-size: 12px;
	color: white;
	border: 1px solid #2e6da4;
	border-radius: 2px;
}
